<div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">List of completed tasks</h5>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Completed</th>
            <th scope="col">Task</th>
            <th scope="col">Assignee</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.date }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.assignee }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>