  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/opentasks" class="nav-link">Open tasks</a>
        </li>
        <li class="nav-item">
          <a routerLink="/completedtasks" class="nav-link">Completed tasks</a>
        </li>
      </ul>
      <button (click)="startProcess()" class="btn btn-outline-success my-2 my-lg-0" type="submit">Start process</button>
    </div>
  </nav>
  <router-outlet></router-outlet>